<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/approval-pkg/approval-type/list" type="button" class="btn-back btn-img"><img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" /></a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>View Approval Type</b></h1>
                    <p class="subtitle"><a href="#!/approval-pkg/approval-type/list">Approval Types</a> / View</p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <form id="form" autocomplete="off">
            <input type="hidden" name="id" value="{{$ctrl.approval_type.id}}">
            <div class="page-tab-form pb-70">
                <div class="tab-form-wrap">
                    <div class="tab-form-header">
                        <div class="tab-header">
                            <!-- Filters -->
                            <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <ul class="nav nav-pills cndn-tabs">
                                    <li class="active"><a class="filter active" data-target="#general-information" data-toggle="tab" aria-expanded="true">General Information</a></li>
                                    <li><a data-target="#approval-status" data-toggle="tab" aria-expanded="true" class="filter">Approval Status</a></li>
                                    <li><a data-target="#approval-levels" data-toggle="tab" aria-expanded="true" class="filter">Approval Levels</a></li>
                                </ul>
                            </div><!-- Filters -->
                        </div><!-- Tab Header -->
                    </div><!-- Tab Form Header -->
                    <div class="tab-form-body">
                        <div class="tab-content">
                            <!-- TAB PANEL -->
                            <div class="tab-pane fade in active" id="general-information" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="grid-row">
                                                <li class="grid-col-3">
                                                    <span class="grid-col-label">Approval Type Name</span>
                                                    <span class="grid-col-value">{{$ctrl.approval_type.name}}</span>
                                                </li>
                                                <li class="grid-col-3">
                                                    <span class="grid-col-label">Approval Type Code</span>
                                                    <span class="grid-col-value">{{$ctrl.approval_type.code}}</span>
                                                </li>
                                                <li class="grid-col-3">
                                                    <span class="grid-col-label">Filter Field</span>
                                                    <span class="grid-col-value">{{$ctrl.approval_type.filter_field}}</span>
                                                </li>
                                                <li class="grid-col-3">
                                                    <span class="grid-col-label">Active Status</span>
                                                    <span ng-if="$ctrl.approval_type.deleted_at != NULL" class="grid-col-value color-red">In Active</span>
                                                    <span ng-if="$ctrl.approval_type.deleted_at == NULL" class="grid-col-value color-green">Active</span>
                                                </li>
                                            </ul>
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-primary btn-nxt">Next</a>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <div class="tab-pane fade" id="approval-status" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-8">
                                            <h6 class="tab-pane-title">Approval Type : <span class="color-primary-light">{{$ctrl.approval_type.name}}</span></h6>
                                            <div class="table-responsive">
                                                <table class="table table-form">
                                                    <thead>
                                                        <tr>
                                                            <th class="width-280">Status Name</th>
                                                            <th class="width-230">Active Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="approval_type_status_list">
                                                        <tr ng-repeat="(index, approval_type_status) in $ctrl.approval_type.approval_type_statuses">
                                                            <input type="hidden" name="approval_type_statuses[{{index}}][id]" value="{{approval_type_status.id}}">
                                                            <input type="hidden" name="approval_type_statuses[{{index}}][approval_type_id]" value="{{$ctrl.approval_type.id}}">
                                                            <td>{{approval_type_status.status}}</td>
                                                            <td class="{{approval_type_status.deleted_at != NULL ? 'text-red' : 'text-green' }}">{{approval_type_status.switch_value}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div><!-- Table Responsive -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-secondary btn-prev">Previous</a>
                                                    <a class="btn btn-primary btn-nxt">Next</a>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <div class="tab-pane fade" id="approval-levels" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h6 class="tab-pane-title">Approval Type : <span class="color-primary-light">{{$ctrl.approval_type.name}}</span></h6>
                                            <div class="table-responsive">
                                                <table class="table table-form">
                                                    <thead>
                                                        <tr>
                                                            <th class="width-230">Name</th>
                                                            <th class="width-115">Approval Order</th>
                                                            <th class="width-115">Current Status</th>
                                                            <th class="width-115">Approval Status</th>
                                                            <th class="width-115">Reject Status</th>
                                                            <th class="width-95">Active Status</th>
                                                            <th class="width-95">Email Notification</th>
                                                            <!-- <th class="width-115">Email Notification</th> -->
                                                            <th class="width-95">SMS Notification</th>
                                                            <!-- <th class="width-115">SMS Notification</th> -->
                                                            <th class="width-45"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="approval_level_list" ng-repeat="(index, approval_level) in $ctrl.approval_type.approval_levels">
                                                        <input type="hidden" name="approval_levels[{{index}}][id]" value="{{approval_level.id}}">
                                                        <input type="hidden" name="approval_levels[{{index}}][approval_type_id]" value="{{$ctrl.approval_type.id}}">
                                                        <tr>
                                                            <td>
                                                                <md-select class="type-sm" ng-model="approval_level.pivot.approval_level_id" placeholder="Select Approval Level" md-on-close="clearSearchCurrentStatus()" data-md-container-class="selectdemoSelectHeader">
                                                                    <md-select-header class="demo-select-header">
                                                                        <input ng-model="searchCurrentStatus" type="search" placeholder="Search for a Approval Level.." class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                                    </md-select-header>
                                                                    <md-optgroup>
                                                                        <md-option ng-value="i.id" ng-repeat="i in $ctrl.extras.approval_levels_list | filter:searchCurrentStatus">{{i.name}}</md-option>
                                                                    </md-optgroup>
                                                                </md-select>
                                                                <input type="hidden" name="approval_levels[{{index}}][approval_level]" value="{{approval_level.pivot.approval_level_id}}" class="required">
                                                                <!-- 
                                                                <input type="text" class="form-control type-sm" name="approval_levels[{{index}}][name]" ng-model="approval_level.name" placeholder="Enter Name" autocomplete="off" minlength="3" maxlength="191" required="required" /> -->
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control type-sm" name="approval_levels[{{index}}][approval_order]" ng-model="approval_level.pivot.approval_order" placeholder="Enter Approval Order" autocomplete="off" minlength="1" maxlength="3" required="required" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" />
                                                            </td>
                                                            <td>
                                                                <md-select class="type-sm" ng-model="approval_level.pivot.current_status_id" placeholder="Select Current Status" md-on-close="clearSearchCurrentStatus()" data-md-container-class="selectdemoSelectHeader">
                                                                    <md-select-header class="demo-select-header">
                                                                        <input ng-model="searchCurrentStatus" type="search" placeholder="Search for a Current Status.." class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                                    </md-select-header>
                                                                    <md-optgroup>
                                                                        <md-option ng-value="i.id" ng-repeat="i in $ctrl.extras.approval_type_status_list | filter:searchCurrentStatus">{{i.status}}</md-option>
                                                                    </md-optgroup>
                                                                </md-select>
                                                                <input type="hidden" name="approval_levels[{{index}}][current_status_id]" value="{{approval_level.pivot.current_status_id}}" class="required">
                                                            </td>
                                                            <td>
                                                                <md-select class="type-sm" ng-model="approval_level.pivot.next_status_id" placeholder="Select Approval Status" md-on-close="clearSearchApprovalStatus()" data-md-container-class="selectdemoSelectHeader">
                                                                    <md-select-header class="demo-select-header">
                                                                        <input ng-model="searchApprovalStatus" type="search" placeholder="Search for a Approval Status.." class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                                    </md-select-header>
                                                                    <md-optgroup>
                                                                        <md-option ng-value="i.id" ng-repeat="i in $ctrl.extras.approval_type_status_list | filter:searchApprovalStatus">{{i.status}}</md-option>
                                                                    </md-optgroup>
                                                                </md-select>
                                                                <input type="hidden" name="approval_levels[{{index}}][next_status_id]" value="{{approval_level.pivot.next_status_id}}" class="required">
                                                            </td>
                                                            <td>
                                                                <md-select class="type-sm" ng-model="approval_level.pivot.    reject_status_id" placeholder="Select Reject Status" md-on-close="clearSearchRejectStatus()" data-md-container-class="selectdemoSelectHeader">
                                                                    <md-select-header class="demo-select-header">
                                                                        <input ng-model="searchRejectStatus" type="search" placeholder="Search for a Reject Status.." class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                                    </md-select-header>
                                                                    <md-optgroup>
                                                                        <md-option ng-value="i.id" ng-repeat="i in $ctrl.extras.approval_type_status_list | filter:searchRejectStatus">{{i.status}}</md-option>
                                                                    </md-optgroup>
                                                                </md-select>
                                                                <input type="hidden" name="approval_levels[{{index}}][reject_status_id]" value="{{approval_level.pivot.reject_status_id}}" class="required">
                                                            </td>
                                                            <td>
                                                                <div class="tab-switch">
                                                                    <md-switch ng-model="approval_level.switch_value" aria-label="Switch 1" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn type-sm">
                                                                        {{ approval_level.switch_value }}
                                                                    </md-switch>
                                                                    <input type="hidden" name="approval_levels[{{index}}][switch_value]" value="{{approval_level.switch_value}}">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="tab-switch">
                                                                    <md-switch ng-model="approval_level.has_email_noty" aria-label="Switch 1" ng-true-value="'No'" ng-false-value="'Yes'" class="md-warn type-2 type-sm">
                                                                        {{ approval_level.has_email_noty }}
                                                                    </md-switch>
                                                                    <input type="hidden" name="approval_levels[{{index}}][has_email_noty]" value="{{approval_level.has_email_noty}}">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="tab-switch">
                                                                    <md-switch ng-model="approval_level.has_sms_noty" aria-label="Switch 1" ng-true-value="'No'" ng-false-value="'Yes'" class="md-warn type-2 type-sm">
                                                                        {{ approval_level.has_sms_noty }}
                                                                    </md-switch>
                                                                    <input type="hidden" name="approval_levels[{{index}}][has_sms_noty]" value="{{approval_level.has_sms_noty}}">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <button class="btn-delete" ng-click="$ctrl.removeApprovalLevel(index, approval_level.id)" type="button">
                                                                    <img class="img-responsive" src="./public/theme/img/table/cndn/delete.svg" alt="Delete" />
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="9">
                                                                <button type="button" class="btn btn-primary-light btn-square" ng-click="$ctrl.addNewApprovalLevel()">+ Add More </button>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div><!-- Table Responsive -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-secondary btn-prev">Previous</a>
                                                    <!-- <a class="btn btn-primary btn-nxt">Next</a> -->
                                                    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                        <input type="hidden" name="approval_level_removal_ids" id="approval_level_removal_ids" value="">
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                        </div><!-- Tab Content -->
                    </div><!-- Tab Form Body -->
                </div><!-- Tab Form Wrap -->
            </div><!-- Page Form -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->